body {
    margin: 0px;
}

h1 {
    text-align: center;
    margin: 0px;
    background-color: navajowhite;
    padding: 20px;
}

form {
    text-align: center;
    padding: 20px
}

#viewinputs {
    text-align: center;
}

div#outcomeContainer {
        text-align: center;
        padding: 20px;
        font-size: 25pt;
}

div#historyContainer {
    text-align: center;
}

ul#historyList {
    display: inline-block;
    text-align: left;
}

#byme {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: navajowhite;
   color: black;
   text-align: center;
   padding: 30px;
}

#addBtn.select {
  background-color: gray;
}
#subtractBtn.select {
    background-color: gray;
  }
#multiplyBtn.select {
    background-color: gray;
  }
#divideBtn.select {
    background-color: gray;
  }